#j {
  display: inline;
}
#amber {
    vertical-align: middle;
}
#j2 {
    display: inline;
  }
  #hawa {
      vertical-align: middle;
  }
  #j3 {
    display: inline;
  }
  #jal {
      vertical-align: middle;
  }
  #j4 {
    display: inline;
  }
  #nah {
      vertical-align: middle;
  }
  #p7 {
    display: inline-block;
  }
  #jai {
      vertical-align: middle;
      display: inline-block;
  }